<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
				<div class="navbar-header navbar-nav">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					 <a class="navbar-brand" href="../" style="color: #000; font-size: 25px;"><strong>nut</strong>shell&nbsp;>&nbsp;<span class="small" id="link"></span></a>
				</div>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<form class="navbar-form navbar-left" role="search">
						<ul class="nav navbar-nav navbar-right">
							<li class="dropdown">
								<input maxlength="50" id="searchBar" data-toggle="dropdown" maxlength="15" type="text" class="form-control " autocomplete="off" style="margin-left: -30px; width: 100%; padding: 4px; height: 34px; line-height: 34px; font-size:25px; width: 125%;" />
								<ul class="dropdown-menu" id="suggestions" role="menu" style="left: -30px; width: 200%">
								</ul>
							</li>
						</ul>
					</form>
					<ul class="nav navbar-nav pull-right">
						<div class="btn-group">
							<button type="button" class="btn btn-primary navbar-btn pull-right" data-toggle="dropdown" aria-expanded="false"><span class="glyphicon glyphicon-star" aria-hidden="true"></span></button>
							<ul class="nsmenu dropdown-menu pull-right" role="menu">
								<li><a class="myViews" href="#">my views</a></li>
								<li><a class="updates" href="#">updates <span class="badge">3</span></a></li>
								<li class="divider"></li>
								<li><a class="addViews" href="#"><span class="glyphicon glyphicon-star"></span> save current view</a></li>
								<li class="divider"></li>
								<li class="disabled"><a class="reportBug" href="#">report a bug</a></li>
								<li class="disabled"><a class="requestChange" href="#">request a change</a></li>
								<li class="divider"></li>
								<li class="disabled"><a href="#">sign out (<span class="text-decoration: underline;">hardus@sunfork.com</span>)</a></li>
							</ul>
						</div>
					</ul>
				</div>
			</nav>

			<div class="modal fade" id="nsModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
							<h4 class="modal-title" id="nsModalTitle">
								loading...
							</h4>
						</div>
						<div class="modal-body">
							BODY! B o d eeeeeeeeee!
						</div>
						<div class="modal-footer">
							  <button type="button" class="btn btn-primary">invoke</button>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</div>
</div>