body {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.x {
	overflow-y: scroll
}

.searchBar {
	width: 200%; /* 250px; */
}

.sunfork {
	height: 42px;
	background-image: url('sunforky.png');
	background-position: left bottom;
	background-repeat: no-repeat;
	background-size: 58px 9px;
}

.nsService {
	spacing: 20px;
}

.noBullets {
	list-style: none;
}

.jumbotron {
	background-color: #FFF3CA;
}

/*
.tabbable {
	background-color: #FFF3CA;
	height: 200px;
}

#applicationServices {
	overflow: scroll;
}

#tabs-979518 > ul > li.active > a {
	background-color: #FFF3CA;
}

#tabs-979518 > ul {
	background-color: #FFF;
}
*/
.btn-primary {
	background-image: linear-gradient(to bottom, #FFE694 0, #F2C314 100%);	
	background-color: #F2C314;
	border-color: #c0c0c0; /* #806100; */
}

.btn-primary:hover {
	background-color: #F2C314;
	border-color: #ffffff; /* #806100; */
}

.btn-primary:visited {
	background-color: #F2C314;
	border-color: #c0c0c0; /* #806100; */
}

/* .navbar-btn {
	background-color: #F2C314;
	border-color: #c0c0c0; / * #806100; * /	
} */

/* @media (min-width: 1200px) {
    .container{
        max-width: 670px;
    }
} */

