<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<link rel="shortcut icon" href="/favicon.ico?v=1" />
		<title>nutshell</title>
		<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
		<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
		<script src="https://cdn.firebase.com/js/client/2.1.2/firebase.js"></script>
		<script src="../../assets/nutshell.js?v=1"></script>
		<script src="../../assets/navbar.js?v=1"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css" />
		<link rel="stylesheet" href="../../assets/nutshell.css" />
	</head>
	<body>
		<div class="container" id="nsView">
			<div class="row clearfix">
				<div class="col-md-12 column">

					<div class="panel-group" id="panel-compound">
						<div class="panel panel-default">
							<div class="panel-heading">
								<span></span>
								 <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-compound" href="#panel-element-compound"><img style="height: 25px" src="../../assets/compound.png">compound services</a>
							</div>
							<div id="panel-element-compound" class="panel-collapse in">
								<div class="panel-body">
									
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								 <a class="panel-title" data-toggle="collapse" data-parent="#panel-compound" href="#panel-element-enterprise"><img style="height: 15px" src="../../assets/enterprise.png">enterprise services</a>
							</div>
							<div id="panel-element-enterprise" class="panel-collapse collapse">
								<div class="panel-body">
									
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								 <a class="panel-title" data-toggle="collapse" data-parent="#panel-compound" href="#panel-element-application"><img style="height: 15px" src="../../assets/application.png">application services</a>
							</div>
							<div id="panel-element-application" class="panel-collapse collapse">
								<div class="panel-body">
									
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								 <a class="panel-title" data-toggle="collapse" data-parent="#panel-compound" href="#panel-element-soaif"><img style="height: 15px" src="../../assets/soaif.png">soaif services</a>
							</div>
							<div id="panel-element-soaif" class="panel-collapse collapse">
								<div class="panel-body">
									
								</div>
							</div>
						</div>
					</div>
					
				</div>
			</div>	
		</div>

		<script type="text/javascript">
			/** #nsData */

			var nsCache = { serviceType: {} };
			var currentPath = nsData.request.path.split('/').splice(0, 2).join(' > ');
			var url = 'http://localhost:8080/nutshell/';			//FIX! get this from nsData.request!

			function populateEducation(education) {
				
				var educationHtml = $('<form></form>');

				var ctr = 0;
				for(var key in education) {
					var input = education[key];
					var inputHtml = '<div class="form-group">';
					inputHtml += '<label for="input' + key + ctr + '" class="control-label">' + key + '</label>';
					inputHtml += '<input type="text" placeholder="' + input.description + '" class="form-control" id="input' + key + ctr + '" />';
					inputHtml += '</div>';

					educationHtml.append(inputHtml);					
				}

				return educationHtml.html();
			}

			function populateResources(data, serviceName) {

				var ul = $('<ul class="noBullets"></ul>');
				$('.resourceList').html(ul);

				if (!data || !data.resource) {
					console.log('satan dwells on this page...');
				}

				data.resource.forEach(function(resource) {

					var resourceUrl = url + serviceName + '/' + resource.name;
					var resourceLink = $('<li class="nsResource"><a href="#">' + resource.name + '</a></li>');
						
					// resourceLink.find('a').hover(
					// 	function() {
					// 		$('#searchBar').val(serviceName + ' > ' + resource.name);
					// 	}, 
					// 	function() {
					// 		$('#searchBar').val(currentPath);
					// 	}
					// )
					resourceLink.find('a').click(function() {

						var path = serviceName + ' > ' + resource.name;						

						if (!resource.education) {
							console.log('loading the education');
							
							$.get(resourceUrl + '?educateme=1', function(data) {
						
								resource.education = data.education;
								resource.educationHtml = populateEducation(resource.education);
								delete resource.education.request;

								nsModal({
									titleHtml: '<span><strong>nut</strong>shell > ' + path + '</span>',
									messageHtml: resource.educationHtml,
									buttons: [
										$('<button type="button" class="btn btn-default" data-dismiss="modal">cancel</button>'),
										$('<button type="button" data-dismiss="modal" class="btn btn-primary">invoke</button>').click(function() {
											nsRedirect({ url: resourceUrl + '?xxxx=uuu'})
										})
									]
								});
							});							
						} else {
							nsModal({
								titleHtml: '<span><strong>nut</strong>shell > ' + path + '</span>',
								messageHtml: resource.educationHtml,
								buttons: [
									$('<button type="button" class="btn btn-default" data-dismiss="modal">cancel</button>'),
									$('<button type="button" data-dismiss="modal" class="btn btn-primary">invoke</button>').click(function() {
										alert('yo');
									})
								]
							});
						}
					});

				 	ul.append(resourceLink);
				});
				//$('.resourceList').html(JSON.stringify(data));
			}

			function listServices(serviceType, parent) {

				$.get(url + 'soaif/service?type=' + serviceType, function(data) {

					nsCache.serviceType[serviceType] = data;
					delete nsCache.serviceType[serviceType].request;

					var ul = $('<ul class="noBullets"></ul>');
					$('#panel-element-' + serviceType + ' .panel-body').append(ul);

					data.services.service.forEach(function(service) {

						var resourceUrl = url + service.name + '/resources';
						var imageSize = serviceType === 'compound' ? 25 : 15;
						var serviceLink = $('<li class="nsService"><a href="#"><img style="width: ' + imageSize + 'px;" src="../../assets/' + service.type + '.png" />' + service.name.replace(/.js/gi, '') + '</a></li>');

						// serviceLink.find('a').hover(
						// 	function() {
						// 		$('#searchBar').val($(this).text() + ' > ');
						// 	}, 
						// 	function() {
						// 		$('#searchBar').val(currentPath);
						// 	}
						serviceLink.find('a').click(function() {

							//$('#resources-tab')

							if (!service.resources) {
								$.get(resourceUrl, function(data) {
									if (!data || !data.resources) {
										console.log('die vark gebeur hier!!');
									}
									service.resources = data.resources;
									populateResources(service.resources, service.name);
								});
							} else {
								console.log('reasources in cache');
								populateResources(service.resources, service.name);
							}
						});

						ul.append(serviceLink);
					});
				});
			}

			$('document').ready(nutshell({ navbar : true }, function() {
				listServices('compound');
				listServices('enterprise');
				listServices('application');
				listServices('soaif');
			}));

			$('.readMore').click(function() {
				$('.jumbotron').hide();
			});
		</script>
	</body>
</html>