<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<link rel="shortcut icon" href="/favicon.ico?v=1" />
		<title>nutshell</title>
		<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
		<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
		<script src="https://cdn.firebase.com/js/client/2.1.2/firebase.js"></script>
		<script src="../../assets/nutshell.js?v=1"></script>
		<script src="../../assets/navbar.js?v=1"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css" />
		<link rel="stylesheet" href="../../assets/nutshell.css" />
	</head>
	<body>
		<div class="container" id="nsView">
			<div class="row clearfix">
				<div class="col-md-12 column">
					<div class="jumbotron">
						<h3 align="center">
							"WE LOVE YOU MICHAEL !!!"
						</h3>
					</div>
				</div>
			</div>
			<div class="row clearfix">
				<div class="col-md-12 column">
				</div>
			</div>

			<table class="table table-striped">
				<thead>
					<tr>
						<th>
							&nbsp;
						</th>
						<th>
							name
						</th>
						<th>
							image
						</th>
					</tr>
				</thead>
				<tbody id="artistTable">
				</tbody>
			</table>

		</div>

		<script type="text/javascript">
			/** #nsData */
			$('document').ready(nutshell({ navbar : true }, function() {

				nsData.artists.artist.forEach(function(item) {
					var artistRow = $('<tr><td><img style="max-width: 100px; max-height: 100px" src="' + item.image + '" /></td><td>' + item.name + '</td><td><a target="_blank" href="' + item.url + '">read more...</a></td></tr>');
					$('#artistTable').append(artistRow);
				});
					
			}));
		</script>
	</body>
</html>