<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<title>title</title>
		<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
		<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
		<script src="../../assets/nutshell.js"></script>
		<link rel="stylesheet" href="../../assets/nutshell.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
	</head>
	<body>
		<div class="container">
			<div class="row clearfix">
				<div class="col-md-12 column">
					<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
						<div class="navbar-header navbar-nav">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							 <a class="navbar-brand" href="../" style="color: #000; font-size: 25px; font-family: 'Trebuchet MS', Helvetica, sans-serif;"><strong>nut</strong>shell&nbsp;>&nbsp;<span class="small" id="link"></span></a>
							 	<div>
							</div>
						</div>
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

							<form class="navbar-form navbar-left" role="search">
								<ul class="nav navbar-nav navbar-right">
									<li class="dropdown">
										<input maxlength="50" id="searchBar" data-toggle="dropdown" maxlength="15" type="text" class="form-control " autocomplete="off" style="margin-left: -30px; width: 200%; padding: 4px; height: 34px; line-height: 34px; font-size:25px; font-family: 'Trebuchet MS', Helvetica, sans-serif;" />
										<ul id="suggestions" class="dropdown-menu" role="menu" style="width: 100%"></ul>
									</li>
								</ul>
							</form>

							<ul class="nav navbar-nav navbar-right">
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">
										<img style="margin-top: -10px; margin-bottom: -10px; width: 26px; margin-right: 6px" src="../../assets/nutshell.png"><strong style="margin-right: 8px" class="caret"></strong>
									</a>
									<ul class="dropdown-menu" style="margin-right: 15px">
										<li>
											<a href="#modal-advancedFiltering" role="button" class="btn" data-toggle="modal">advanced filtering</a>
										</li>
										<li>
											<a href="#">func2()</a>
										</li>
										<li>
											<a href="#">func3()</a>
										</li>
										<li class="divider">
										</li>
										<li class="sunfork">
											<a href="#modal-other" role="button" class="btn" data-toggle="modal">funcn()</a>
										</li>
									</ul>
								</li>
							</ul>
						</div>
					</nav>
					
					<table class="table table-default table-condensed table-hover" style="margin-top: 60px">
						<thead>
							<tr>
								<th>
									#
								</th>
								<th id="serviceName"></th>
								<th>
									?
								</th>
							</tr>
						</thead>
						<tbody id="results">
						</tbody>
					</table>

					<!-- <a id="modal-560698" href="#modal-container-560698" role="button" class="btn" data-toggle="modal">Launch demo modal</a> -->
					
					<div class="modal fade" id="modal-advancedFiltering" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
									<h4 class="modal-title" id="myModalLabel">
										advanced filtering
									</h4>
								</div>
								<div class="modal-body">
									...
								</div>
								<div class="modal-footer">
									 <button type="button" class="btn btn-default" data-dismiss="modal">cancel</button> <button type="button" class="btn btn-primary">search</button>
								</div>
							</div>
						</div>
					</div>

					<div class="modal fade" id="modal-other" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
									<h4 class="modal-title" id="myModalLabel">
										advanced OTHER
									</h4>
								</div>
								<div class="modal-body">
									...
								</div>
								<div class="modal-footer">
									 <button type="button" class="btn btn-default" data-dismiss="modal">cancel</button> <button type="button" class="btn btn-primary">search</button>
								</div>
							</div>
						</div>
					</div>

					<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-dialog">
						    <div class="modal-content">
						        <div class="modal-header">
						            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						            <h3>Dialog</h3>
						        </div>
						        <div class="modal-body">
						            <form role="form"  class="form-horizontal">
						                <div class="form-group">
						                    <label class="col-sm-3 control-label" for="mutual">Example: </label>
						                    <div class="col-sm-6">
						                        <input type="text" id="example-form" value="" class="form-control">
						                    </div>
						                </div>
						            </form>
						        </div>
						        <div class="modal-footer">
						            <button id="edit-form"  data-id-mutual="" class="btn btn-primary">Save</button>
						            <button class="btn btn-danger" data-dismiss="modal" aria-hidden="true">Cancel</button>
						        </div>
						    </div><!-- /.modal-content -->
						</div><!-- /.modal-dialog -->
					</div><!-- /.modal -->
				</div>
			</div>
		</div>

		<div class="container" id="debug" style="postion: absolute; top: 50px; border: 1px solid #000; height:400px; font-size: 25px; color: lightgray;"></div>		

		<script type="text/javascript">
		/* #nsData */

		$('document').ready(function() {

			var User = nsData.user;						//FIX! this will come from firebase
			var request = parsePath(nsData);			//get service and resource
			var suggestions = $('#suggestions');
			var searchBar = $('#searchBar');
			var suggestionCount = 0;
			
			if (!request) {
				alert('there was an error! damn it...');
			}
			
			//setup ui
			searchBar.attr('placeholder', request.service + ' > ' + request.resource);
			searchBar.focus();

			//setup table heading
			$('#serviceName').html(request.singularResource);

			//populate table
			nsData[request.resource][request.singularResource].forEach(function(item, i) {
				var row = $('<tr class="active"><td>' + i + '</td><td>' + item.name.replace('.js', '') + '</td><td><a class="modalSpawner" data-url="' + item.url + '" >Detail</a></td></tr>');

				$('#results').append(row);
			});

			//http://stackoverflow.com/questions/20073618/using-bootstrap-3-0-modals-to-load-dynamic-remote-content-within-an-ifram
			function parseSearchText(idiotText) {
				var path = nsData.request.url;

				return path + '/nutshell/' + searchBar.val().replace(' > ', '/');

				// var resourcePart;

				// if ($('#suggestions li a.suggestion').length === 1) {			//2 because "help" is also selected
				// 	path += '/nutshell/' + $('#suggestions li a').first().text().replace(' > ', '/');
				// } else {
				// 	path = null;
				// }

				// return path;
			}			

			function toggleSuggestions() {
				if (searchBar.val() === '') {
					suggestions.hide();
				} else {
					suggestions.show();
				}
			}

			function isValidRequest() {
				var result = false;

				//FIX! check if nsData.roles exist!
				//if (searchBar.val() is valid) {
					result = true;
				//}
				return result;
			}

			function showHelp() {
				console.log('display help');
			}

			searchBar.keyup(function(evt) {
				var searchBarVal = searchBar.val();
				var matches = [];

				if (searchBarVal === '') {
					console.log('exiting 1...');
					toggleSuggestions();
					return;
				}

				if ((evt.keyCode === 8 || evt.which == 8) && searchBarVal.endsWith(' >')) {							//BACKSPACE=8
		    		//remove the ' > ' in one go
		    		var pos = searchBarVal.indexOf(' >');
		    		if (pos > 0) {
		    			searchBar.val(searchBarVal.substring(0, pos));
		    		}
		    	}

				//FIX! why not foreach?
				User.roles.resources.map(function(item, ctr) {
					var suggestionText = item.path.replace('/', ' > ');
					if (suggestionText.includes(searchBarVal)) {
						//console.log(item.path);
					 	matches.push(suggestionText);
					} else {
						return false;
					}
					return true;
				});

				suggestionCount = matches.length;

				// console.log('not exiting yet... [suggestionCount=' + suggestionCount + ']');

				var suggestionText = (suggestionCount === 0) ? 'no suggestions' : 'suggestions';
				var suggestionMarkup = '<li class="dropdown-header">' + suggestionText + '</li>';

				matches.forEach(function(item, ctr) {
					// console.log('item=' + item)
					var matchingService = item.split(' > ')[0];
					var matchingResource = item.split(' > ')[1];

					suggestionMarkup += '<li><a href="#" class="suggestion" style="color: #c0c0c0">' + matchingService + ' > ' + matchingResource + '</a></li>';
				});

				suggestionMarkup += '<li class="divider"></li><li><a href="#"><strong>help me</strong></a></li>';

				// //if theres only one option highlight everything!
				// if (matches.length === 1) {
				// 	console.log('jumping in here' + matches[0]);
				// 	searchBarVal = matches[0].replace('/', ' > ');
				// }

				suggestions.html($(suggestionMarkup)).find('li>a').styleSubtext({
				  	subtext: [searchBarVal],
				  	style: 'font-weight: bold; color: #000' //' font-size: 28px; color: #020202'
				});

				toggleSuggestions();
			});

			searchBar.keypress(function(evt) {
				//check for special keys for autocompletion and submission

				var key = evt.keyCode || evt.which; 

				if (key == 10 || key == 13) {			//ENTER=submit form
					evt.preventDefault();
					// if (isValidRequest()) {
					// 	var path = parseSearchText(searchBar.val());
					// 	console.log('is valid request' + path);
					// 	if (path) {
					// 		console.log('and we have a pth');
					// 		//load the help me...

					// 		$.get(path + '?educateme=1', function(data) {
					// 			console.log('got education');
					// 			if (data && data.education) {
					// 				console.log('like for real!');
					// 				for (var key in data.education) {

					// 					console.log(key);
					// 					var input = data.education[key];

					// 					//
					// 				}

					// 				$('#inputs').html('<li><a href="#" class="suggestion" style="color: #c0c0c0">' + '{{{{{ KWAGGA }}}}}' + '</a></li>');

					// 				//suggestionMarkup += '<li><a href="#" class="suggestion" style="color: #c0c0c0">' + matchingService + ' > ' + matchingResource + '</a></li>';

					// 				$('#inputs').show();
									
					// 			}								
					// 		});

					// 		suggestions.hide();
					// 	}
					// }
					
			    	//window.location = 'http://localhost:'
		    	} else if (key === 62 || key === 46) {			//>=62 and .=46
		    		evt.preventDefault();
		    	} else if (key === 32 || key === 9) {			//SPACE & TAB=autocomplete (AND submit)
			    	//FIX! tab key being ignored!!!!
					evt.preventDefault();

					if (suggestionCount === 0 || searchBar.val() === '') {
						return;
					} else if (suggestionCount === 1) { //if only one option then autocomplete
			     		//console.log('we can autocomplete!!!');
			     		searchBar.val(suggestions.find('.suggestion').text());
			     		showHelp();
			     		return;
			     		//we can autocomplete!!!
			     	} else {
			     		//there are multiple suggestions...
			     		//test for unique service names and then autocomplete that much

			     		//console.log(suggestions.find('.suggestion').length);

			     		var canAutoCompleteService = true;
						suggestions.find('.suggestion').each(function(i, item) {
							var $item = $(item);
							if (!$item.text().startsWith(searchBar.val())) {
								console.log('cant\'t autocomplete as diferent services...');
								canAutoCompleteService = false;
								return false;
							}
						});
						
						if (canAutoCompleteService) {
							searchBar.val(suggestions.find('.suggestion').first().text().split(' > ')[0] + ' > ');
						}
			     	}


			   //   		//but can we autocomplete the service *OR* both the service+resource?

			   //   		if (User.roles.resources.contains(searchBar.val().replace(' > ', ','))) {
			   //   			alert('halle');
			   //   		}



			     		

						// //if (isValidRequest()) {
						// 	var path = parseSearchText(searchBar.val());
						// 	console.log('is valid request' + path);
						// 	if (path) {
						// 		console.log('and we have a pth');
						// 		//load the help me...

						// 		$.get(path + '?educateme=1', function(data) {
						// 			console.log('got education');
						// 			if (data && data.education) {
						// 				console.log('like for real!');
						// 				for (var key in data.education) {

						// 					console.log(key);
						// 					var input = data.education[key];

						// 					//
						// 				}

						// 				$('#inputs').html('<li><a href="#" class="suggestion" style="color: #c0c0c0">' + '{{{{{ KWAGGA }}}}}' + '</a></li>');

						// 				//suggestionMarkup += '<li><a href="#" class="suggestion" style="color: #c0c0c0">' + matchingService + ' > ' + matchingResource + '</a></li>';

						// 				$('#inputs').show();
										
						// 			}								
						// 		});

						// 		suggestions.hide();
						// 	}
						// //}

			   //   		suggestions.hide();
			   //   		$('#inputs').show();
			   //   	}

			    } else {
			    	console.log(key);
			    }
			});

			searchBar.click(toggleSuggestions);
			searchBar.blur(function() {
				suggestions.hide();
			});
			
			//suggestions.html('<li><a href="#">crappppeeeeee</a></li>');
		});
		</script>
	</body>
</html>