<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<link rel="shortcut icon" href="/favicon.ico?v=1" />
		<title>nutshell</title>
		<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
		<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
		<script src="https://cdn.firebase.com/js/client/2.1.2/firebase.js"></script>
		<script src="../../assets/nutshell.js?v=1"></script>
		<script src="../../assets/navbar.js?v=1"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css" />
		<link rel="stylesheet" href="../../assets/nutshell.css" />
		<style type="text/css">
		pre.nsJSON {
		  max-width: none;
		  max-height: none;
		  font-size: 1.2em;
		}

		.zoomer {
			font-size: 2.2em;
			color: #c0c0c0;
			cursor: pointer;
		}

		.noselect {
			-webkit-touch-callout: none;
			-webkit-user-select: none;
			-khtml-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
		}
		</style>
	</head>
	<body>
		<div class="container" id="nsView">
			<div class="row clearfix">
				<div class="col-md-12 column">
					<div class="container">
						<div class="noselect zoomer pull-right">
							<span data-direction="out" class="button glyphicon glyphicon-zoom-out"></span>
							<span data-direction="in" class="button glyphicon glyphicon-zoom-in"></span>
						</div>
						<pre class="nsJSON" id="nsData">
						</pre>
					</div>
				</div>
			</div>	
		</div>
		<script type="text/javascript">
			/** #nsData */

			$('document').ready(nutshell({ navbar: true }, function() {
				var results = nsHTML.printJSON(nsData);
				ns('#nsData').html(results);
			}));

			$('.zoomer>span').hover(function() {
				$(this).css('color', '#000');
			}, function() {
				$(this).css('color', 'grey');
			});

			$('.zoomer>span').click(function(evt) {
				var size = parseInt(ns('#nsData').css('font-size'));
				if ($(this).data('direction') === 'in') {
					if (size < 25) ns('#nsData').css('font-size', size + 1 + 'px');
				} else {
					if (size > 10) ns('#nsData').css('font-size', size - 1 + 'px');
				}
			});
		</script>
	</body>
</html>
