<!DOCTYPE html>
<html>
	<head>
		<title>title</title>
		<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
		<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
		<script src="../../nutshell.js"></script>
		<link rel="stylesheet" href="../../nutshell.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
	</head>
	<body>
		
		<div class="container">
			<div class="row clearfix">
				<div class="col-md-12 column">
					<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
						<div class="navbar-header">
							 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a class="navbar-brand" href="#" style="color: #000"><strong>nut</strong>shell</a>
						</div>
						
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<ul class="nav navbar-nav">
								<li class="active">
									<a id="link" href="#"></a>
								</li>
							</ul>
							<form class="navbar-form navbar-left" role="search">
								<div class="form-group">
									<input id="searchText" type="text" class="form-control" placeholder="partial name"/>
								</div>
								<button id="searchButton" type="submit" class="btn btn-default">search</button>

<!-- <em class="glyphicon glyphicon-align-right"> -->

<!--								<div class="btn-group btn-group-xs">
									 <button class="btn btn-default" type="button">compound</button>
									 <button class="btn btn-default" type="button">enterprise</button>
									 <button class="btn btn-default" type="button">application</button>
									 <button class="btn btn-default" type="button">soaif</button>
								</div> -->

							</form>

							<ul class="nav navbar-nav navbar-right">
								<li class="dropdown">
									 <a href="#" class="dropdown-toggle" data-toggle="dropdown">actions<strong class="caret"></strong>&nbsp;&nbsp;</a>
									<ul class="dropdown-menu">
										<li>
											<a href="#">func1()</a>
										</li>
										<li>
											<a href="#">func2()</a>
										</li>
										<li>
											<a href="#">func3()</a>
										</li>
										<li class="divider">
										</li>
										<li>
											<a href="#">funcn()</a>
										</li>
									</ul>
								</li>
							</ul>
						</div>
					</nav>
					
					<table class="table table-bordered table-condensed table-hover" style="margin-top: 60px">
						<thead>
							<tr>
								<th>
									#
								</th>
								<th id="service">
								</th>
								<th>
									?
								</th>
							</tr>
						</thead>
						<tbody id="results">
						</tbody>
					</table>

					<ul class="pagination">
						<li>
							<a href="#">Prev</a>
						</li>
						<li>
							<a href="#">1</a>
						</li>
						<li>
							<a href="#">2</a>
						</li>
						<li>
							<a href="#">3</a>
						</li>
						<li>
							<a href="#">4</a>
						</li>
						<li>
							<a href="#">5</a>
						</li>
						<li>
							<a href="#">Next</a>
						</li>
					</ul>
					 <a id="modal-560698" href="#modal-container-560698" role="button" class="btn" data-toggle="modal">Launch demo modal</a>
					
					<div class="modal fade" id="modal-container-560698" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
									<h4 class="modal-title" id="myModalLabel">
										Modal title
									</h4>
								</div>
								<div class="modal-body">
									...
								</div>
								<div class="modal-footer">
									 <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> <button type="button" class="btn btn-primary">Save changes</button>
								</div>
							</div>
							
						</div>
						
					</div>
					
				</div>
			</div>
		</div>

		<script type="text/javascript">
		/* #nsData */

		$('document').ready(function() {

			var service = nsData.request.service;
			var resource = nsData.request.resource;
			//var resourceCollection = nsData[service]['service'];			//nsData.services.service

			$('#link').html(' > ' + service + ' > ' + resource);
			$('#serviceName').html(resource);

			//populate table
			$.each($.makeArray(nsData.services.service), function(i, item) {
				var row = '<tr class="active"><td>' + i + '</td><td>' + item.name.replace('.js', '') + '</td><td><a href="./' + item.url + '">help</a></td></tr>';

				$('#results').append(row);
			});

			$('#searchButton').click(function(evt) {
				evt.preventDefault();
				if (!$('#searchText').val()) {
					return;
				}
				updateQuerystring('name', $('#searchText').val());
			});

			
		});
		
		</script>
	</body>
</html>