<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<link rel="shortcut icon" href="/favicon.ico?v=1" />
		<title>nutshell</title>
		<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
		<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
		<script src="https://cdn.firebase.com/js/client/2.1.2/firebase.js"></script>
		<script src="../../assets/nutshell.js?v=1"></script>
		<script src="../../assets/navbar.js?v=1"></script>
		<script src="http://d3js.org/d3.v3.min.js"></script> 
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css" />
		<link rel="stylesheet" href="../../assets/nutshell.css" />		
		<style>
		.node {
		  cursor: pointer;
		}

		.node circle {
		  fill: #C09100;
		  stroke: #C09100;
		  stroke-width: 1.5px;
		}

		
		.link {
		  fill: none;
		  stroke: #FFDA5C;
		  stroke-width: 1.0px;
		}
		</style>
	</head>
	<body>
		<div class="container" id="nsView">
			<div class="row clearfix">
				<div class="col-md-12 column">
					<div class="container">
						<div id="tree"></div>
					</div>
				</div>
			</div>	
		</div>
		<script type="text/javascript">
			/** #nsData */
			var url = 'http://localhost:8080/nutshell/';			//FIX! get this from nsData.request!

			$('document').ready(nutshell({ navbar: true }, function() {
			// 	//$('#tree')
			// 	$.get(url + 'soaif/service?type=compound', function(data) {
			// 		data.services.service.forEach(function(service) {
			// 		//service.name
			// 		//service.type
			// 		});
			// 	});
			}));

			function populateEducation(education) {
				
				var educationHtml = $('<form></form>');

				var ctr = 0;
				for(var key in education) {
					var input = education[key];
					var inputHtml = '<div class="form-group">';
					inputHtml += '<label for="input' + key + ctr + '" class="control-label">' + key + '</label>';
					inputHtml += '<input type="text" data-name="' + key + '" placeholder="' + input.description + '" class="nsInput form-control" id="input' + key + ctr + '" />';
					inputHtml += '</div>';

					educationHtml.append(inputHtml);					
				}

				return educationHtml.html();
			}

var margin = {top: 0, right: 20, bottom: 20, left: 70},
    width = 960 - margin.right - margin.left,
    height = 600 - margin.top - margin.bottom;
    
var i = 0,
    duration = 250,
    root;

var tree = d3.layout.tree()
    .size([height, width]);

var diagonal = d3.svg.diagonal()
    .projection(function(d) { return [d.y, d.x]; });

var svg = d3.select("#tree").append("svg")
    .attr("width", width + margin.right + margin.left)
    .attr("height", height + margin.top + margin.bottom)
  	.append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");


root = nsData;		//flare;
root.x0 = height / 2;
root.y0 = 0;

function collapse(d) {
	if (d.children) {
	  d._children = d.children;
	  d._children.forEach(collapse);
	  d.children = null;
	}
}

root.children.forEach(collapse);
update(root);

d3.select(self.frameElement).style("height", "600px");

function update(source) {

  // Compute the new tree layout.
  var nodes = tree.nodes(root).reverse(),
      links = tree.links(nodes);

  // Normalize for fixed-depth.
  nodes.forEach(function(d) { d.y = d.depth * 220; });

  // Update the nodes…
  var node = svg.selectAll("g.node")
      .data(nodes, function(d) { return d.id || (d.id = ++i); });

  // Enter any new nodes at the parent's previous position.
  var nodeEnter = node.enter().append("g")
      .attr("class", "node")
      .attr("transform", function(d) { return "translate(" + source.y0 + "," + source.x0 + ")"; })
      .on("click", click);

  nodeEnter.append("circle")
      .attr("r", 1e-6)
      .style("fill", function(d) { return d._children ? "#C09100" : "#fff"; });

  nodeEnter.append("text")
      .attr("x", function(d) { return d.children || d._children ? -10 : 10; })
      .attr("dy", ".35em")
      .attr("text-anchor", function(d) { return d.children || d._children ? "end" : "start"; })
      .html(function(d) { 
      	return d.name; 
      })
      .style("fill-opacity", 1e-6)
      .on("mouseover", function(d) {
	      d3.select(this).attr('font-size', '15px');
	  })
	  .on("mouseout", function() {
	      d3.select(this).attr('font-size', '14px');
	  })
	  .on("click", function() {
			var node = d3.select(this).data()[0];
			if (node.depth === 3) {
				var path = node.parent.name + ' > ' + node.name.replace(/get/, '').toLowerCase();

				$.get(url + node.parent.name + '/' + node.name.replace(/get/, '').toLowerCase() + '?educateme=1', function(data) {
					var educationHtml = populateEducation(data.education);
					
					nsModal({
						titleHtml: '<span><strong>nut</strong>shell > ' + path + '</span>',
						messageHtml: educationHtml,
						buttons: [
							$('<button type="button" class="btn btn-default" data-dismiss="modal">cancel</button>'),
							$('<button type="button" data-dismiss="modal" class="btn btn-primary">invoke</button>').click(function() {
								invokeService();
							})
						]
					});
				});
			}
	  });

  // Transition nodes to their new position.
  var nodeUpdate = node.transition()
      .duration(duration)
      .attr("transform", function(d) { return "translate(" + d.y + "," + d.x + ")"; });

  nodeUpdate.select("circle")
      .attr("r", 4.5)
      .style("fill", function(d) { return d._children ? "#C09100" : "#fff"; });

  nodeUpdate.select("text")
      .style("fill-opacity", 1);

  // Transition exiting nodes to the parent's new position.
  var nodeExit = node.exit().transition()
      .duration(duration)
      .attr("transform", function(d) { return "translate(" + source.y + "," + source.x + ")"; })
      .remove();

  nodeExit.select("circle")
      .attr("r", 1e-6);

  nodeExit.select("text")
      .style("fill-opacity", 1e-6);

  // Update the links…
  var link = svg.selectAll("path.link")
      .data(links, function(d) { return d.target.id; });

  // Enter any new links at the parent's previous position.
  link.enter().insert("path", "g")
      .attr("class", "link")
      .attr("d", function(d) {
        var o = {x: source.x0, y: source.y0};
        return diagonal({source: o, target: o});
      });

  // Transition links to their new position.
  link.transition()
      .duration(duration)
      .attr("d", diagonal);

  // Transition exiting nodes to the parent's new position.
  link.exit().transition()
      .duration(duration)
      .attr("d", function(d) {
        var o = {x: source.x, y: source.y};
        return diagonal({source: o, target: o});
      })
      .remove();

  // Stash the old positions for transition.
  nodes.forEach(function(d) {
    d.x0 = d.x;
    d.y0 = d.y;
  });
}

// Toggle children on click.
function click(d) {
  if (d.children) {
    d._children = d.children;
    d.children = null;
  } else {
    d.children = d._children;
    d._children = null;
  }
  update(d);
}


			
		</script>
	</body>
</html>
