<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<slink rel="shortcut icon" href="/favicon.ico?v=1">
		<title>nutshell</title>
		<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
		<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
		<script src="https://cdn.firebase.com/js/client/2.1.2/firebase.js"></script>
		<script src="../../assets/nutshell.js?v=1"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="../../assets/nutshell.css">
<!-- 
		<script src="../../assets/jquery-1.11.2.min.js"></script>
		<script src="../../assets/jquery-migrate-1.2.1.min.js"></script>
		<script src="../../assets/bootstrap.min.js"></script>
		<script src="../../assets/firebase.js"></script>
		<script src="../../assets/nutshell.js?v=1"></script>
		<link rel="stylesheet" href="../../assets/bootstrap.min.css">
		<link rel="stylesheet" href="../../assets/bootstrap-theme.min.css">
		<link rel="stylesheet" href="../../assets/nutshell.css?v=1">
 -->
	</head>
	<body>
		<div class="container" style="margin-top: 70px">
			<div class="row clearfix">
				<div class="col-md-12 column">
					<!-- <div class="jumbotron">
						<h1>
							<strong>nut</strong>shell
						</h1>
						<p>
							<strong>nut</strong>shell puts you in control. SOA in a box blah blah.
						</p>
						<p>
							<a class="btn btn-primary btn-large" href="#">read more</a>
						</p>
					</div>
					 -->
					<div class="row clearfix">
						<div class="col-md-6 column">
							<div class="tabbable" id="tabs-979518">

								<a class="btn btn-primary btn-small pull-right" href="#">create service</a>
								<ul class="nav nav-tabs">
									<li class="active">
										<a id="compound-services-tab" href="#panel-compound" data-toggle="tab">compound</a>
									</li>
									<li>
										<a href="#panel-enterprise" data-toggle="tab">enterprise</a>
									</li>
									<li>
										<a href="#panel-application" data-toggle="tab">application</a>
									</li>
									<li>
										<a href="#panel-soaif" data-toggle="tab">soaif</a>
									</li>
								</ul>
								<div class="tab-content">
									<div class="tab-pane active" id="panel-compound">
										<br>
										<div id="compoundServices"></div>
									</div>
									<div class="tab-pane" id="panel-enterprise">
										<br>
										<div id="enterpriseServices"></div>
									</div>
									<div class="tab-pane" id="panel-application">
										<br>
										<div id="applicationServices"></div>
									</div>
									<div class="tab-pane" id="panel-soaif">
										<br>
										<div id="soaifServices"></div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 column">

							<div class="tabbable" id="tabs-97951800000">

								<a class="btn btn-primary btn-small pull-right" href="#">help</a>
								<ul class="nav nav-tabs">
									<li class="active">
										<a id="resources-tab" href="#panel-resources" data-toggle="tab">resources</a>
									</li>
								</ul>
								<div class="tab-content">
									<div class="tab-pane active" id="panel-resources">
										<br>
										<div class="resourceList">
											
										</div>
									</div>
								
								</div>
							</div>


<!--
							
								<div class="panel-group" id="panel-632991">
									<div class="panel panel-primary">
										<div class="panel-heading">
											 <a class="panel-title" data-toggle="collapse" data-parent="#panel-632991" href="#panel-element-906036">resources</a>
										</div>
										<div id="panel-element-906036" class="panel-collapse in">
											<div class="panel-body resourceList"></div>
										</div>
									</div>
								</div>
							-->
							
						</div>
					</div>
				</div>
			</div>	
		</div>

		<script type="text/javascript">
			/* #nsData */

			var nsCache = { serviceType: {} };
			var currentPath = nsData.request.path.split('/').splice(0, 2).join(' > ');
			var url = 'http://localhost:8080/nutshell/';


			function populateEducation(education) {
				var title = '<strong>nut</strong>shell > ' + parsePath(nsData).service + ' > ' + 'resourceName';
				$('#myModalLabel').html(title);

				var educationHtml = $('<form class="form-horizontal" role="form"></form>');

				var ctr = 0;
				for(var key in education) {
					var input = education[key];
			
					var inputHtml = '<div class="form-group">';
					inputHtml += '<label for="input' + key + ctr + '" class="col-sm-2 control-label">' + key + '</label>';
					inputHtml += '<div class="col-sm-10">';
					inputHtml += '<input type="email" class="form-control" id="input' + key + ctr + '" />';
					inputHtml += '</div>';
					inputHtml += '</div>';
					
					educationHtml.append(inputHtml);					
				}

				$('#nsmodal').find('.modal-body').html(educationHtml);
				$('#nsmodal').modal('show');
			}

			function populateResources(data, serviceName) {

				var ul = $('<ul class="noBullets"></ul>');
				$('.resourceList').html(ul);

				data.resource.forEach(function(resource) {
					var resourceUrl = url + serviceName + '/' + resource.name + '?educateme=1';
					var resourceLink = $('<li class="nsResource"><a href="#">' + resource.name + '</a></li>');
						
					resourceLink.find('a').hover(
						function() {
							$('#searchBar').val(serviceName + ' > ' + resource.name);
						}, 
						function() {
							$('#searchBar').val(currentPath);
						}
					).click(function() {
						if (!resource.education) {
							$.get(resourceUrl, function(data) {
								
								resource.education = data.education;
								delete resource.education.request;

								populateEducation(resource.education);

								// var title = '<strong>nut</strong>shell > ' + parsePath(nsData).service + ' > ' + 'resourceName';
								// $('#myModalLabel').html(title);

								// var educationHtml = $('<form class="form-horizontal" role="form"></form>');

								// var ctr = 0;
								// for(var key in resource.education) {
								// 	var input = resource.education[key];
							
								// 	var inputHtml = '<div class="form-group">';
								// 	inputHtml += '<label for="input' + key + ctr + '" class="col-sm-2 control-label">' + key + '</label>';
								// 	inputHtml += '<div class="col-sm-10">';
								// 	inputHtml += '<input type="email" class="form-control" id="input' + key + ctr + '" />';
								// 	inputHtml += '</div>';
								// 	inputHtml += '</div>';
									
								// 	educationHtml.append(inputHtml);					
								// }

								// $('#nsmodal').find('.modal-body').html(educationHtml);
								// $('#nsmodal').modal('show');


							});
						} else {
							console.log('xxxx in cache');
							populateEducation(resource.education);
						}
					});

				 	ul.append(resourceLink);
				});
				//$('.resourceList').html(JSON.stringify(data));
			}

			function listServices(serviceType, parent) {

				$.get(url + 'soaif/service?type=' + serviceType, function(data) {

					nsCache.serviceType[serviceType] = data;
					delete nsCache.serviceType[serviceType].request;

					var ul = $('<ul class="noBullets"></ul>');
					$('#' + serviceType + 'Services').append(ul);

					data.services.service.forEach(function(service) {

						var resourceUrl = url + service.name + '/resources';
						var serviceLink = $('<li class="nsService"><a href="#"><img style="width: 15px;" src="../../assets/' + service.type + '.png" />' + service.name.replace(/.js/gi, '') + '</a></li>');

						serviceLink.find('a').hover(
							function() {
								$('#searchBar').val($(this).text() + ' > ');
							}, 
							function() {
								$('#searchBar').val(currentPath);
							}
						).click(function() {

							//$('#resources-tab')

							if (!service.resources) {
								$.get(resourceUrl, function(data) {
									service.resources = data.resources;
									populateResources(service.resources, service.name);
								});
							} else {
								console.log('reasources in cache');
								populateResources(service.resources, service.name);
							}
						});

						ul.append(serviceLink);
					});
				});
			}

			$('document').ready(nutshell(function() {
				listServices('compound');
				listServices('enterprise');
				listServices('application');
				listServices('soaif');
			}));
		</script>
	</body>
</html>